.container {
  max-width: 768px;
  margin: 0 auto
}

.nav-bar {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  display: inline;
  margin-right: 20px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

form {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.weather-display {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 500px;
  background-color: #f9f9f9;
}

.weather-display h2 {
  margin: 0 0 15px 0;
}
.loading-message, .error-message {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.error-message {
  color: red;
  border: 1px solid red;
}

.weather-display img {
  width: 100px; /* Ajusta el ancho según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px; /* Opcional: redondea las esquinas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: añade una sombra suave */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  background-color: crimson;
}

/* Añade más estilos según sea necesario */
